DATABASE_URL="postgresql://postgres.osfbvlogxvbczfomumtl:[YOUR-DB-PASSWORD]@aws-0-us-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=1"
DIRECT_URL="postgresql://postgres.osfbvlogxvbczfomumtl:[YOUR-DB-PASSWORD]@aws-0-us-west-1.pooler.supabase.com:5432/postgres"
NEXT_PUBLIC_SUPABASE_URL="https://osfbvlogxvbczfomumtl.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9zZmJ2bG9neHZiY3pmb211bXRsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg0NTA0NzgsImV4cCI6MjA5NDAyNjQ3OH0.6BTsqntYnbJG32vYbTNw5w0MU8ur60uJGro2jzeKjqA"
